
/*Footer Styles*/
footer{
  background-color: var(--primary-color);
  padding-bottom: 1rem;
  display: flex;
}

.footer-container{
  align-items: center;
  justify-content: center;
}

.footer-logo{
  padding: 0;
  margin-bottom: 1rem;
}

.footer-logo{
  color: var(--text-dark);
  padding-top: 1rem;
}

.footer-links{
  display: grid;
  gap: 1rem;
}

.footer-links,
.footer-col :is(li, a){
  color: var(--text-dark);
}

.footer-col li a:hover{
  color: var(--extra-light);
}

.header-links{
  display: grid;
  gap: 0.8rem;
}

.header-links li a{
  display: grid;
  gap: 5rem;
}

.footer-col h4{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
  cursor: pointer;
  padding-top: 2rem;
}

.footer-col{
  display: grid;
  gap: 1rem;
  text-align: center;
}

.footer-col h2{
  padding-top: 2rem;
}

.footer-col form{
  padding: 5px;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-left: 3rem;
}

.footer-col input{
  padding-inline: 1rem;
  width: 60%;
  border: 1px solid var(--extra-light);
  outline: none;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: transparent; 
  height: 100%;
}

.footer-col form .btn{
  background-color: var(--extra-light);
  border-radius: 2px;
  padding-left: 3rem;
  border: none;
}

.footer-col form .btn:hover{
  background-color: var(--text-light);
  color: var(--extra-light);
}

.footer-bar{
  color: var(--white);
  padding: 1rem 1rem 3rem 1rem;
  font-size: .9rem;
  color: var(--text-dark);
  text-align: center;
  border-top: 1px solid var(--text-light);
  background-color: var(--primary-color);
}

.social-share a{
  border: 2px solid var(--extra-light);
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: var(--text-dark);
  margin-right: 0.3rem;
  background-color: var(--extra-light);
}

.social-share a:hover{
  background-color: var(--primary-color);
}
@media (min-width: 500px) and (max-width: 767.98px){
  .footer-container{
      margin-left: 4.8rem;
  }

  .footer-bar{
      padding-left: 4rem;
  }
}

/* Responsive Design-Tablet */

@media (width > 540px){

  .footer-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
  }

  .footer-logo{
      padding-left: 3rem;
  }

  .footer-links{
      padding-left: 2rem;
  }
  
  #column{
      text-align: center;
      padding-left: 3rem;
  }
  
  form{
      margin-right: 1rem;
      display: flex;
  }

  form input{
      width: 60%;
  }

  #column .btn{
      width: 40%;
      justify-content: center;
      padding-right: 3rem;
      margin-right: 2rem;
  }

}

      /* Responsive Design-Desktop*/
@media (width > 768px){

  .footer-container{
      padding-bottom: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }

  #column{
      margin: 0;
  }

}
