@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #91e73c;
    --primary-color-dark: #7ac232;
    --text-dark: #000;
    --text-light: #9ca3af;
    --extra-light: #f3f4f6;
    --white: #fff;
    --max-width: 1200px;
    --header-font: "DM Sans", sans-serif;
}

     /* General Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
}

body.dark-mode{
    background-color: #121212;
    color: #fff;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
