@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #91e73c;
    --primary-color-dark: #7ac232;
    --text-dark: #000;
    --text-light: #9ca3af;
    --extra-light: #f3f4f6;
    --white: #fff;
    --max-width: 1200px;
    --header-font: "DM Sans", sans-serif;
}

     /* General Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
}

      /* Nav Section */
header{
    display: grid;
    overflow: hidden;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav-menu-btn{
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform .3s;
    z-index: -1;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.logo span{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

.nav-links.open{
    transform: translateY(100%);
}

.nav-links a{
    color: var(--text-dark);
}

.nav-links btn{
    background-color: var(--primary-color);
}

/*Footer Styles*/
footer{
    background-color: var(--primary-color);
    padding-bottom: 1rem;
    display: flex;
}

.footer-container{
    align-items: center;
    justify-content: center;
}

.footer-logo{
    padding: 0;
    margin-bottom: 1rem;
}

.footer-logo{
    color: var(--text-dark);
    padding-top: 1rem;
}

.footer-logo .logo:hover{
    color: var(--text-dark);
}
.footer-links{
    display: grid;
    gap: 1rem;
}

.footer-links,
.footer-col :is(li, a){
    color: var(--text-dark);
}

.footer-links,
.footer-col a:hover{
    color: var(--extra-light);
}

.header-links{
    display: grid;
    gap: 0.8rem;
}
.header-links li a{
    display: grid;
    gap: 5rem;
}
.footer-col h4{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--text-dark);
    cursor: pointer;
    padding-top: 2rem;
}
.footer-col{
    display: grid;
    gap: 1rem;
    text-align: center;
}

.footer-col h2{
    padding-top: 2rem;
}
.footer-col h4:hover{
    color: var(--extra-light);
}

.footer-col form{
    padding: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: 3rem;
}

.footer-col input{
    padding-inline: 1rem;
    width: 60%;
    border: 1px solid var(--extra-light);
    outline: none;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: transparent; 
    height: 100%;
}

.footer-col form .btn{
    background-color: var(--extra-light);
    border-radius: 2px;
    padding-left: 3rem;
}

.footer-col form .btn:hover{
    background-color: var(--text-light);
    color: var(--extra-light);
}

.footer-bar{
    color: var(--white);
    padding: 1rem 1rem 3rem 1rem;
    font-size: .9rem;
    color: var(--text-dark);
    text-align: center;
    border-top: 1px solid var(--text-light);
    background-color: var(--primary-color);
}


/* Responsive Design-Tablet */

@media (width > 540px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #column{
        margin-left: 12rem;
        text-align: center;
        width: 100%;
    }
    

}

 /* Responsive Design-Desktop*/
 @media (width > 768px){

    header{
        background-color: #91e73c;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav{
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        
    }

    .nav-header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav-logo{
        max-width: 40px;
        padding-bottom: 0.5rem;
    }

    .nav-logo span{
        display: inline;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--text-dark);
    }

    .nav-menu-btn{
        display: none;
    }

    .nav-links{
        position: static;
        width: fit-content;
        padding: 0 0 8px 0;
        flex-direction: row;
        gap: 3rem;
        background-color: transparent;
        transform: none;
    }

    .nav-links a{
        color: var(--text-dark);
    }

    .nav-links:hover.nav-links a:hover{
        color: var(--white);
    }

    .footer-container{
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    #column{
        margin: 0;
    }
}